@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

/* TOKENS DE DISEÑO Y VARIABLES (Define los colores, tipografías y escalas globales) */
:root {
    /* Colores Principales */
    --clr-bg-main: #FAFAFA;
    --clr-bg-sec: rgba(232, 245, 233, 0.3);
    --clr-accent-soft: #81C784;
    --clr-primary: #2E7D32;
    --clr-primary-dark: #1b5e20;
    --clr-text: #1A3622;
    --clr-white: #FFFFFF;

    /* Configuración del Efecto Glassmorphism */
    --glass-bg: rgba(250, 250, 250, 0.7);
    --glass-border: rgba(129, 199, 132, 0.2);

    /* Tipografías */
    --ff-heading: 'Outfit', sans-serif;
    --ff-body: 'Nunito Sans', sans-serif;

    /* Tamaños de Fuente */
    --fs-h1: 3rem;
    --fs-h2: 2rem;
    --fs-h3: 1.5rem;
    --fs-h4: 1.1rem;
    --fs-p: 1rem;
    --fs-li: 0.8rem;
    --fs-a: 0.8rem;
    --fs-span: 0.9rem;

    /* espacioados reutilizables */
    --space-1: 0.5rem;
    --space-2: 1rem;
    --space-3: 1.5rem;
    --space-4: 2rem;
    --space-6: 3rem;
    --space-8: 6rem;

    /* Sombras */
    --shadow-sm: 0 2px 4px rgba(26, 54, 34, 0.05);
    --shadow-md: 0 4px 12px rgba(26, 54, 34, 0.08);
    --shadow-lg: 0 10px 25px rgba(26, 54, 34, 0.12);

    /* Transiciones */
    --transition-fast: 0.2s ease;
    --transition-smooth: 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

/* Reajuste de tamaños de fuente para Tablet */

/* RESETEO Y ESTILOS BASE */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-size: 100%;
}

body {
    font-family: var(--ff-body);
    background-color: var(--clr-bg-main);
    color: var(--clr-text);
}


body,
html {
    overflow-x: clip;
    /* clip para que no se desborde por los lados las cosas (como el hidden), pero el clip no rompe los sticky*/
}

/* estilos cuando se selecciona algo para copiar */
::selection {
    background-color: var(--clr-accent-soft);
    color: var(--clr-text);
}

/* Aplicación de variables de fuente a etiquetas globales */
h1 {
    font-size: var(--fs-h1);
}

h2 {
    font-size: var(--fs-h2);
}

h3 {
    font-size: var(--fs-h3);
}

h4 {
    font-size: var(--fs-h4);
}

p {
    font-size: var(--fs-p);
}

li {
    font-size: var(--fs-li);
}

a {
    font-size: var(--fs-p);
    text-decoration: none;
    color: inherit;
    transition: var(--transition-fast);
}

span {
    font-size: var(--fs-span);
}

h1,
h2,
h3,
h4 {
    font-family: var(--ff-heading);
    font-weight: 800;
}

/* Quitar puntos de las listas */
ul {
    list-style: none;
}

/* Asegurar que las imágenes sean responsivas */
img {
    max-width: 100%;
    display: block;
}

/* estilos a los contenedores que van a tener el fondo diferente*/
.container-alternos {
    background-color: var(--clr-bg-sec);
}

/* COMPONENTES REUTILIZABLES */

/* Estilo base para todos los botones del sitio */
.btn-primario,
.btn-secundario,
.btn-esquema {
    padding: 0.8em 1.6em;
    border-radius: 15px;
    font-weight: 600;
    display: inline-block;
    cursor: pointer;
    font-family: var(--ff-body);
    border: 2px solid var(--clr-primary);
}

/* Botón principal (Verde sólido) */
.btn-primario {
    background-color: var(--clr-primary);
    color: var(--clr-white);
    transition: 0.5s all ease;
    font-size: var(--fs-a);
}

/* Efecto hover del botón principal */
.btn-primario:hover {
    background-color: var(--clr-primary-dark);
    transform: translateY(-3px);
    box-shadow: var(--shadow-lg);
}

/* Botón secundario  */
.btn-secundario {
    position: relative;
    font-size: var(--fs-a);
    color: var(--clr-primary);
    background-color: transparent;
    transition: all 0.3s ease;
}

/* Efecto hover del botón secundario */
.btn-secundario:hover {
    color: var(--clr-primary-dark);
    transform: translateY(-3px);
}

.btn-esquema {
    position: relative;
    overflow: hidden;
    border-color: var(--clr-primary);
    color: var(--clr-primary);
}

/* efecto de que como que se rellena el boton por dentro*/
.btn-esquema::after {
    content: "";
    position: absolute;
    width: 0;
    height: 100%;
    background-color: var(--clr-primary);
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
}

.btn-esquema:hover {
    color: white;
    z-index: 5;
}

/* para que se active el after al hacer hover*/
.btn-esquema:hover::after {
    z-index: -1;
    width: 100%;
}

/* palabras destacadas */
.palabras-importantes {
    font-style: italic;
    font-family: var(--ff-body);
}

/* palabras importantes del titulo del hero */
.importante-h1 {
    font-size: 3.2rem;
    margin-left: 10px;
    color: var(--clr-primary-dark);
    text-shadow: 0 0 20px rgba(34, 197, 94, 0.5);
}

/* NAVEGACIÓN */
/* Contenedor fijo que mantiene la barra de navegación arriba */
.contenedor-cabecera {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    padding: var(--space-2) 5%;
}

/* barra de navegación con fondo borrroso */
.contenedor-navegacion {
    background: var(--glass-bg);
    backdrop-filter: blur(12px);
    border: 1px solid var(--glass-border);
    padding: var(--space-1) var(--space-3);
    border-radius: 6.25rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: var(--shadow-md);
    max-width: 90%;
    margin: 0 auto;
}

/* Estilos para el logo dentro de la navegación */
.logo-navegacion .img-logo {
    height: 3rem;
    width: auto;
}

/* contenedor que tiene los botones y los enlaces de navegación */
.grupo-derecho-navegacion {
    display: flex;
    align-items: center;
    gap: var(--space-4);
}

/* El menú de enlaces principales */
.menu-navegacion {
    display: flex;
    gap: var(--space-3);
}

/* Estilos individuales para cada enlace del menú */
.enlace-navegacion {
    position: relative;
    font-weight: 600;
    font-size: var(--fs-span);
    color: var(--clr-text);
    opacity: 0.8;
}

/* la linea debajo de cada link*/
.enlace-navegacion::after {
    content: '';
    width: 0px;
    height: 2px;
    bottom: -2px;
    left: 0;
    background-color: var(--clr-primary);
    position: absolute;
    transition: 0.5s all ease;

}

/* Efecto hover de los enlaces de navegación */
.enlace-navegacion:hover {
    opacity: 1;
    color: var(--clr-primary);
}


.enlace-navegacion:hover::after {
    width: 50px;
    transition: 0.3s all ease;
}

/* Contenedor de botones de login y reserva en la nav */
.acciones-navegacion {
    display: flex;
    align-items: center;
    gap: var(--space-2);
}

/* Ajustes de tamaño para los botones específicos de la navegación */
.acciones-navegacion .btn-secundario {
    padding: 0.6em 1.2em;
}

/* SECCIÓN: HERO (Inicio de página) */

/* Contenedor principal de la sección Hero */
.contenedor-hero {
    min-height: 90vh;
    display: flex;
    align-items: center;
    padding: var(--space-8) 5% var(--space-4);
    background: radial-gradient(circle, rgba(255, 255, 255, 1) 0%, rgba(129, 199, 132, 1) 100%);
}

/* Grid que organiza el contenido textual y la imagen */
.contenido-hero {
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--space-2);
    padding: 5% 0;
    align-items: center;
    max-width: 90%;
    margin: 0 auto;
}

/* Bloque de texto a la izquierda */
.hero-izquierdo {
    text-align: center;
    max-width: 100%;
}

/* Título principal H1 del Hero */
.titulo-hero {
    line-height: 1.1;
    margin-bottom: var(--space-3);
    color: var(--clr-text);
}

/* Párrafo descriptivo del Hero */
.texto-hero {
    margin-bottom: var(--space-4);
    opacity: 0.9;
    max-width: 90%;
}

/* Grupo de botones principales de acción */
.botones-hero {
    display: flex;
    justify-content: center;
    gap: var(--space-2);
}

/* estilos al boton del cta del hero*/
.btn-cta-hero,
.btn-esquema-hero {
    font-size: var(--fs-p);
}

/* Bloque de imagen y elementos flotantes a la derecha */
.hero-derecho {
    position: relative;
}

/* Estilos de la imagen principal */
.img-hero {
    width: 100%;
    height: auto;
}

.img-hero-movil {
    display: none;
}

/* SECCIÓN: CARACTERÍSTICAS */

/* Contenedor principal del carrusel con fondo verde */
.contenedor-carrusel-caracteristicas {
    background-color: var(--clr-primary);
    padding: var(--space-3) 0;
    overflow: hidden;
    /* evito que desborde por los lados */
    position: relative;
    display: flex;
    align-items: center;
}

/* Sombras negras en los extremos */
.contenedor-carrusel-caracteristicas::before,
.contenedor-carrusel-caracteristicas::after {
    content: '';
    position: absolute;
    top: 0;
    width: 15%;
    height: 100%;
    z-index: 2;
    pointer-events: none;
}

/* Sombra izquierda */
.contenedor-carrusel-caracteristicas::before {
    left: 0;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.6), transparent);
}

/* Sombra derecha */
.contenedor-carrusel-caracteristicas::after {
    right: 0;
    background: linear-gradient(to left, rgba(0, 0, 0, 0.6), transparent);
}

/* Carril que contiene los elementos y ejecuta la animación */
.pista-carrusel {
    display: flex;
    white-space: nowrap;
    width: fit-content;
    animation: scrollForward 30s linear infinite;
}

/* Estilo individual de cada característica dentro del carrusel */
.item-caracteristica {
    display: flex;
    align-items: center;
    gap: var(--space-1);
    padding: 0 var(--space-4);
    color: var(--clr-white);
}

/* Iconos de las características en blanco con opacidad suave */
.icono-caracteristica {
    font-size: 1.4rem;
    color: var(--clr-accent-soft);
    display: flex;
    align-items: center;
}

/* Texto de la característica con tipografía Nunito */
.texto-caracteristica {
    font-size: var(--fs-span);
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin: 0;
}

/* ESTILOS DE SECCIÓN GENERALES */

/* Contenedor centralizado para mantener el ancho de lectura */
.container {
    max-width: 90%;
    margin: 0 auto;
}

/* Encabezado de sección común (Centrado) */
.encabezado-seccion {
    text-align: center;
    max-width: 80%;
    margin: 0 auto var(--space-4);
}

/* span sobre el título H2 */
.etiqueta-seccion {
    display: inline-block;
    color: var(--clr-primary);
    font-family: var(--ff-heading);
    font-weight: 700;
    font-size: var(--fs-span);
    letter-spacing: 0.15em;
    text-transform: uppercase;
    margin-bottom: var(--space-2);
    padding: 10px 20px;
    background-color: var(--clr-bg-sec);
    border-radius: 10px;
}

/* SECCIÓN: PROBLEMA */

/* Espaciado general de la sección problema */
.seccion-problema {
    padding: var(--space-8) 0;
    background-color: var(--clr-bg-main);
}

/* Título de la sección problema */
.titulo-problema {
    margin-bottom: var(--space-2);
}

/* Texto introductorio de la sección problema */
.texto-problema {
    color: var(--clr-text);
    opacity: 0.8;
}

/* Grid que organiza las 3 tarjetas de problemas */
.grid-problema {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--space-4);
    margin-top: var(--space-6);
}

/* Estilo individual de cada tarjeta de problema */
.tarjeta-problema {
    background-color: var(--clr-white);
    padding: var(--space-4);
    border-radius: 15px;
    border: 1px solid rgba(129, 199, 132, 0.1);
    box-shadow: var(--shadow-sm);
    transition: var(--transition-smooth);
    display: flex;
    flex-direction: column;
}

/* Efecto hover en las tarjetas: elevación y sombra más profunda */
.tarjeta-problema:hover {
    transform: translateY(-5px);
    box-shadow: var(--shadow-lg);
    border-color: var(--clr-accent-soft);
}

/* caja de los iconos */
.div-icono-tarjeta {
    width: 3rem;
    height: 3rem;
    background-color: var(--clr-bg-sec);
    color: var(--clr-primary);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    font-size: 1.8rem;
    margin-bottom: var(--space-3);
    transition: var(--transition-fast);
}

.tarjeta-problema:hover .div-icono-tarjeta {
    background-color: var(--clr-primary);
    color: var(--clr-white);
    transform: rotate(-5deg);
}

/* Título  H3 de cada tarjeta */
.titulo-tarjeta {
    font-size: var(--fs-h4);
    margin-bottom: var(--space-1);
    color: var(--clr-text);
}

/* descripción  */
.descripcion-tarjeta {
    font-size: var(--fs-p);
    opacity: 0.8;
}

/* SECCIÓN: SOLUCIÓN */

/* Layout principal de la sección solución (Grid de 2 columnas) */
.seccion-solucion {
    padding: var(--space-8) 0;
    background-color: rgba(217, 247, 218, 0.15);
}

/* Contenedor del grid de solución */
.contenedor-solucion {
    display: grid;
    grid-template-columns: 1fr 1.2fr;
    gap: var(--space-6);
    align-items: start;
}

/* estilos a la columan de la izquierda que se queda sticky */
.parte-izquierda-solucion {
    position: sticky;
    top: var(--space-8);
}

/* Título de la solución */
.titulo-solucion {
    margin: var(--space-2) 0 var(--space-4);
    line-height: 1.2;
}

/* Contenedor de botones de perfil (Profesional/Usuario) */
.botones-solucion {
    display: flex;
    gap: var(--space-2);
}

/* Columna derecha: Lista de características en flex vertical */
.lista-caracteristicas-solucion {
    display: flex;
    flex-direction: column;
    gap: var(--space-4);
}

/* Cada ítem de característica (Fila horizontal) */
.item-caracteristica-solucion {
    display: flex;
    gap: var(--space-3);
    padding: var(--space-3);
    border-radius: 1.25rem;
    transition: var(--transition-smooth);
    border: 2px solid rgba(129, 199, 132, 0.1);
}

/* Efecto hover suave: sombreado y borde sutil */
.item-caracteristica-solucion:hover {
    background-color: var(--clr-bg-main);
    border-color: var(--clr-accent-soft);
    box-shadow: var(--shadow-sm);
}

/* icono de la seccion solucion y de la de beneficios */
.item-caracteristica-solucion .div-icono-caracteristica,
.fila-beneficio .div-icono-beneficio {
    width: 3.5rem;
    height: 3.5rem;
    background-color: var(--clr-bg-sec);
    color: var(--clr-primary);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    font-size: 1.6rem;
    flex-shrink: 0;
    /* para que no se encoja */
    transition: var(--transition-smooth);
}

/* Cambio de color del icono al pasar el ratón sobre el ítem */
.item-caracteristica-solucion:hover .div-icono-caracteristica,
.fila-beneficio:hover .div-icono-beneficio {
    background-color: var(--clr-primary);
    color: var(--clr-white);
}

/* Título interno de la característica */
.titulo-caracteristica {
    font-size: var(--fs-h4);
    margin-bottom: 0.25rem;
    color: var(--clr-text);
}

/* Descripción de la característica */
.descripcion-caracteristica {
    font-size: var(--fs-p);
    opacity: 0.8;
    transition: var(--transition-smooth);
}

/* hover de la desxripcion al pasar el cursor por el div */
.item-caracteristica-solucion:hover .descripcion-caracteristica {
    opacity: 1;
}

/* SECCIÓN: BENEFICIOS */

.seccion-beneficios {
    padding: 4rem 0;
    position: relative;
}

/* contenedor que tiene el contenido de la seccion */
.contenedor-beneficios {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 0.6fr;
    gap: 5rem;
}

/* estilos a la columna de la derecha*/
.parte-izquierda-beneficios {
    position: relative;
    order: 2;
    width: 100%;
    display: flex;
    align-items: flex-start;
}

/* titulo y descripcion que esta en la columna derecha */
.encabezado-beneficio {
    position: sticky;
    text-align: right;
    top: 150px;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 0.5rem;
}

/* estilos al span de el header de la seccion de beneficios*/
.encabezado-beneficio .etiqueta-seccion {
    width: fit-content;
    /* tiene de ancho lo que ocupe el contenido */
    margin-left: auto;
    /* para alineacion a la derecha */
}

/* estilos al numero que esta sticky */
.sticky-number-wrapper {
    position: sticky;
    top: 160px;
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: center;
}

/* estilos al numero "01" */
.sticky-number-wrapper span {
    font-size: 2.5rem;

}

/* estilos al conentedor de los beneficios */
.parte-derecha-beneficios {
    position: relative;
    order: 1;
    display: flex;
    flex-direction: column;
    gap: var(--space-6);
}

/* estilos a cada contenedor de cada beneficio */
.fila-beneficio {
    position: sticky;
    margin-bottom: var(--space-8);
    display: flex;
    gap: var(--space-4);
    justify-content: space-between;
    padding: 1.5rem;
    border: 2px solid rgba(129, 199, 132, 0.1);
    background-color: var(--clr-bg-main);
    border-radius: 1.25rem;
}

/* estilos para que se vayan acumulando como tarjetas y se forme como una baraja */
.fila-beneficio:nth-child(1) {
    top: 160px;
}

.fila-beneficio:nth-child(2) {
    top: 180px;
}

.fila-beneficio:nth-child(3) {
    top: 200px;
}

.fila-beneficio:nth-child(4) {
    top: 220px;
}

/* estilos al titulo del beneficio */
.titulo-beneficio {
    font-size: var(--fs-h3);
    margin-bottom: var(--space-1);
    color: var(--clr-text);
}

/* estilos a la descripcion del beneficio */
.descripcion-beneficio {
    font-size: var(--fs-p);
    opacity: 0.8;
}

/* estilos al titulo de los beneficios (el que esta sticky) */
.titulo-beneficios {
    font-size: var(--fs-h2);
    color: var(--clr-text);
    margin-bottom: var(--space-1);
}

/* estilos al texto que esta debajo del titulo sticky */
.texto-beneficios {
    font-size: var(--fs-p);
    opacity: 0.8;
}

/* estilos al cta de los beneficios */
.cta-beneficios {
    margin-top: var(--space-3);
}

/* SECCION A "EL PROCESO" */
.seccion-proceso {
    padding: 4rem 0;
}

.contenedor-pasos-proceso {
    display: flex;
    position: relative;
    flex-direction: column;
    gap: 5rem;
}

.fila-proceso {
    position: relative;
    background-color: var(--clr-bg-main);
    display: grid;
    grid-template-columns: 1fr 1.2fr;
    gap: 5rem;
    align-items: flex-start;
    padding: 1.5rem;
    border: 2px solid rgba(129, 199, 132, 0.1);
    border-radius: 1.25rem;
}

.contenido-proceso {
    position: sticky;
    top: 100px;
    display: flex;
    align-items: start;
    flex-direction: column;
    gap: 2rem;
}

.fila-proceso img {
    border-radius: 1.25rem;
    width: 70%;
    object-fit: cover;
    box-shadow: var(--shadow-md);
}

.div-imagen {
    display: flex;
    justify-content: center;
}

.fila-invertida {
    grid-template-columns: 1.2fr 1fr;
    text-align: right;

}

.fila-invertida h3,
.fila-invertida .numero-paso {
    margin-left: auto;
}

.numero-paso {
    font-size: var(--fs-h3);
    font-weight: bold;
    color: var(--clr-primary);
    padding: 10px 20px;
    background-color: #d9f7da;
    border-radius: 20px;
}

.fila-invertida .imagen-proceso {
    order: 1;
}

.fila-invertida .contenido-proceso {
    order: 2;
}


/* SECCIÓN SERVICIOS */

/* estilos al contenedor de servicios*/
.container-servicios {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

/* estilos al container de los botones*/
.container-btn-servicios {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    margin: 3% 0;
}

/* estilos a cada boton*/
.btn-tab-servicio {
    font-family: var(--ff-body);
    padding: 10px 20px;
    border: 2px solid var(--clr-primary);
    border-radius: 20px;
    background-color: transparent;
    color: var(--clr-primary);
    cursor: pointer;
}

/* estilos al boton que tengo la clase activo (el cual va a mostar sus pestañas)*/
.btn-tab-servicio.btn-activo {
    background-color: var(--clr-primary);
    color: var(--clr-white);
}

/* estilos de los botons al hacer hover (solo si no están activos) */
.btn-tab-servicio:not(.btn-activo):hover {
    background-color: var(--clr-primary);
    color: var(--clr-white);
}

/* estilos al contenedor de las pestañas y la imagen */
.grid-panel-servicio {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    align-items: start;
    margin: 2% 0;
    padding: 0 5%;
    gap: 5rem;
}

/* estilos al contenedor que tiene todos los item que tienen el icono y el texto */
.lista-funciones-servicio {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

/* estilos a cada servicio que tiene el icono + text */
.item-funcion-servicio {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    border: 1px solid var(--clr-accent-soft);
    border-radius: 10px;
    padding: 20px;
}

/* estilos a cada contenedor de cada servicio */
.div-icono-servicio {
    width: fit-content;
    padding: 10px 20px;
    background-color: var(--clr-bg-sec);
    color: var(--clr-primary);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    flex-shrink: 0;
    transition: var(--transition-smooth);
}

/* estilos a cada contenedor de cada servicio al hacer hover */
.item-funcion-servicio:hover .div-icono-servicio {
    background-color: var(--clr-primary);
    color: var(--clr-white);
}

/* estilos al icono de cada servicio */
.div-icono-servicio i {
    font-size: 2rem;
}

/* estilos al conenedor de la imegn*/
.imagen-panel-servicio {
    width: 550px;
    height: 300px;
    position: sticky;
    top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--clr-accent-soft);
    border: 1px solid transparent;
    padding: 5%;
    border-radius: 52% 48% 48% 52% / 21% 44% 56% 79%;
}

.imagen-panel-servicio img {
    width: 600px;
    height: 300px;
    object-fit: cover;
}

.envoltura-imagen-servicio {
    overflow: visible;
    position: relative;
}

/* lo ocultamos para las pestañas */
.oculto {
    display: none;
}

/* ANIMACIONES */

/* Animación de desplazamiento infinito de izquierda a derecha */
@keyframes scrollForward {
    0% {
        transform: translateX(-50%);
    }

    100% {
        transform: translateX(0);
    }
}


/* SECCIÓN: PRECIOS */

.seccion-precios {
    padding: 2rem 0;
}

.panel-precio {
    margin: 10% 0 0 0;
}

.grid-precios {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: stretch;
    justify-content: center;
    gap: 3rem;
}

/* estilos a cada tarejeta */
.tarjeta-precio {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    padding: 50px 30px;
    border: 1px solid var(--clr-accent-soft);
    border-radius: 2rem;
    cursor: pointer;
    transition: var(--transition-smooth);
}

.tarjeta-precio:hover {
    box-shadow: 0 10px 10px rgba(34, 197, 94, 0.3);
    transform: translateY(-10px);
}

/* estilo a la tarjeta del plan recomendado*/
.destacado {
    position: relative;
    color: white;
    background: linear-gradient(135deg, #00b141 0%, #22c55e 100%);
    box-shadow: 0 20px 40px rgba(34, 197, 94, 0.25);
    border: 2px solid var(--clr-primary-dark);
    transform: scale(1.1);
}

.destacado:hover {
    transform: scale(1.1) translateY(-10px);
}

.btn-plan,
.btn-plan-pro {
    width: fit-content;
    font-size: var(--fs-a);
}

/* estilos al boton del plan pro*/
.btn-plan-pro {
    border: solid white;
    color: white;
}

.nombre-plan {
    font-size: 1.8rem;
}

/* estilos a las caracteristicas de cada plan */

.lista-caracteristicas-precio li {
    font-size: 1rem;

}

/* estilos al espan de "destacado" y "más popular"*/
.etiqueta-destacado {
    font-size: 0.7rem;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--clr-primary-dark);
    padding: 10px 20px;
    border-radius: 20px;
    color: white;
}

/* estilos a los precios */

.span-precio {
    font-size: 2.1rem;
    font-weight: bold;
    font-style: italic;
}

/* SECCIÓN FAQ */

.seccion-faq {
    padding: 4rem 0;
}

/* estilo al contenedor que tiene todas las preguntas*/
.grid-faq {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 3rem auto;
    width: 80%;
}

/* contenedor que tiene la pregunta y la respuesta*/
.item-faq {
    background-color: white;
    padding: 2rem;
    border: 1px solid var(--clr-accent-soft);
    transition: var(--transition-smooth);
}

.item-faq:hover {
    box-shadow: var(--shadow-md);
    transform: translateY(-5px);
}

/* contenedor que tiene la pregunta y el icono */
.pregunta-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    user-select: none;
}

/* estilo al icono */
.icono-faq {
    position: relative;
    width: 15px;
    height: 15px;
    color: var(--clr-primary);
}

/* Estilo común para ambos palitos */
.icono-faq span {
    display: block;
    background-color: var(--clr-primary);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    flex-shrink: 0;
    transition: transform 0.3s ease;
}

/* Palito vertical */
.icono-faq span:first-of-type {
    border-radius: 20px;
    transform: translateY(-50%) translateX(-50%);
    width: 3px;
    height: 100%;
}

/* Palito horizontal */
.icono-faq span:last-of-type {
    border-radius: 20px;
    transform: translateY(-50%) translateX(-50%);
    width: 100%;
    height: 3px;
}

/* estilos a la pregunta (h3) */
.pregunta-faq {
    font-size: 1.25rem;
    color: var(--clr-primary-dark);
}

/* estilos a las respuestas*/
.respuesta-faq {
    display: block;
    overflow: hidden;
    opacity: 0;
    height: 0;
    font-size: 1rem;
    line-height: 1.6;
    transition: all 0.3s ease;
}

/* estilos a las respuestas cuando esten vsidibles*/
.respuesta-faq.respuesta-visible {
    opacity: 1;
    margin: 2% 0 0;
    height: 100%;
    transition: all 0.5s ease;
}

/* icono X */
.icono-faq-cerrar span:nth-child(1) {
    transform: translate(-50%, -50%) rotate(135deg);
}

.icono-faq-cerrar span:nth-child(2) {
    transform: translate(-50%, -50%) rotate(-45deg);
}


/* SECCIÓN: CONTACTO */
.seccion-contacto {
    padding: 4rem 0;
}

/* estilos al grid que tiene la info y el iframe del mapa*/
.grid-contacto {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    gap: 2.5rem;
    margin-top: 4rem;
    align-items: stretch;
}

/* estilos a la columna e las filas de la informacion*/
.col-info-contacto {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

/* estilo a cada div que tiene el icono y la informacion*/
.item-contacto {
    background-color: var(--clr-white);
    padding: 1.8rem 2rem;
    border-radius: 1.5rem;
    border: 1px solid var(--clr-accent-soft);
    display: flex;
    align-items: center;
    gap: 1.5rem;
    transition: var(--transition-smooth);
}

.item-contacto:hover {
    transform: translateX(10px);
    border-color: var(--clr-primary);
    box-shadow: var(--shadow-md);
}

.item-contacto i {
    font-size: 2.2rem;
    color: var(--clr-primary);
}

.titulo-item-contacto {
    font-size: 1.2rem;
    margin-bottom: 0.2rem;
    color: var(--clr-text);
}

.item-contacto p {
    word-break: break-all;
    font-size: 0.95rem;
}

/* estilos al contenedor del iframe*/
.col-mapa-contacto {
    border-radius: 20px;
    overflow: hidden;
    border: 1px solid var(--clr-accent-soft);
    min-height: 400px;
}

.col-mapa-contacto iframe {
    border-radius: 20px;
    width: 100%;
    height: 100%;
}

/* SECCIÓN: CTA FINAL */

.seccion-cta-final {
    padding: 6rem 0 0;
}

.contenido-cta {
    border-radius: 25px;
    background: linear-gradient(135deg, var(--clr-primary) 0%, var(--clr-accent-soft) 100%);
    box-shadow: var(--shadow-lg);
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    max-width: 90%;
    text-align: center;
    margin: 0 auto;
}

.titulo-cta {
    font-size: var(--fs-h1);
    color: var(--clr-white);
    margin-bottom: 1.5rem;
}

.texto-cta {
    font-size: 1.3rem;
    color: var(--clr-white);
    margin-bottom: 2.5rem;
    opacity: 0.9;
}

.grupo-botones-cta {
    display: flex;
    justify-content: center;
}

.btn-cta-final {
    color: var(--clr-primary);
    background-color: white;
    padding: 12px 28px;
    border-radius: 10px;
    font-weight: 700;
    display: inline-block;
    transition: all 0.3s ease;
    text-decoration: none;
}

.btn-cta-final:hover {
    transform: translateY(-3px) scale(1.03);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}


/* FOOTER */
.footer {
    background-color: var(--clr-text);
    color: white;
    padding: 5rem 0 2rem;
    margin-top: 5rem;
}

/* estilos a las columnas del footer */
.grid-footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 3rem;
    margin-bottom: 4rem;
}

/* estilos al logo */
.logo-img {
    width: 35%;
}

.descripcion-footer {
    font-size: 0.9rem;
    line-height: 1.6;
    opacity: 0.7;
    margin-bottom: 1.5rem;
}

.redes-sociales {
    display: flex;
    gap: 15px;
}

.redes-sociales a {
    color: white;
    font-size: 1.5rem;
    opacity: 0.6;
    transition: var(--transition-fast);
}

.redes-sociales a:hover {
    opacity: 1;
    color: var(--clr-accent-soft);
}

.titulo-col-footer {
    font-size: 1.1rem;
    margin-bottom: 1.5rem;
    color: var(--clr-accent-soft);
}

.enlaces-footer li {
    margin-bottom: 0.8rem;
}

.enlaces-footer a {
    color: white;
    font-size: 0.9rem;
    opacity: 0.6;
    transition: var(--transition-fast);
}

.enlaces-footer a:hover {
    opacity: 1;
    padding-left: 5px;
}

/* Footer Bottom */
.footer-abajo {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    padding-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
    opacity: 0.5;
}

/* ESTILOS A LAS PÁGINAS LEGALES */

/* Contenedor principal de la página legal */
.seccion-legal {
    padding: 5rem 0;
}

/* Estilos del encabezado (Título y fecha) */
.encabezado-legal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem;
}

.titulo-legal {
    font-size: var(--fs-h1);
    color: var(--clr-text);
    text-align: center;
    margin-bottom: 1rem;
}

.fecha-legal {
    font-size: 0.95rem;
    opacity: 0.8;
}

/* Estilos del contenido de texto legal */
.cuerpo-legal {
    max-width: 800px;
    background-color: rgba(129, 199, 132, 0.3);
    box-shadow: 0px 0px 10px 0px rgba(129, 199, 132, 0.5);
    padding: 20px 40px;
    margin: 0 auto;
    border-radius: 20px;
}

.texto-cuerpo-legal h2 {
    font-size: 1.5rem;
    color: var(--clr-primary);
    margin: 2.5rem 0 1rem;
}

.texto-cuerpo-legal p {
    line-height: 1.8;
    margin-bottom: 1.5rem;
}

.texto-cuerpo-legal ul {
    list-style: disc;
    margin: 1.5rem 0;
    padding-left: 1.5rem;
}

.texto-cuerpo-legal li {
    margin-bottom: 1rem;
    line-height: 1.6;
}

.texto-cuerpo-legal strong {
    color: var(--clr-text);
}

/* Ajustes responsivos para tablets */
@media (max-width: 1200px) {

    :root {
        --fs-h2: 2.2rem;
        --fs-p: 1.05rem;
    }

    .grid-problema {
        grid-template-columns: 1fr;
        gap: var(--space-3);
    }

    .grid-precios {
        grid-template-columns: 1fr 1fr;
    }

    .tarjeta-precio:last-of-type {
        grid-column: 1 / 3;
        width: 60%;
        margin: 0 auto;
    }

    /* responsive del hero en tablet */
    .contenido-hero {
        grid-template-columns: 1fr;
        gap: var(--space-4);
        align-items: center;
    }

    /* responsive de Solución y Beneficios  */
    .contenedor-solucion,
    .contenedor-beneficios {
        grid-template-columns: 1fr 1fr;
    }


    .item-caracteristica-solucion,
    .fila-beneficio {
        flex-direction: column;
        justify-content: center;
    }

    /* responsive de las funcionalidades */
    .grid-panel-servicio {
        grid-template-columns: 1fr;
    }

    /* para que la imagen este siempre abajo y las tarjetas arriba */
    .imagen-panel-servicio {
        order: 2;
    }
}

/* Ajustes responsivos para móviles */
@media (max-width: 768px) {

    /* volvemos ha hacer el root para que se apliquen aqui bien las font-sizes sin necesidad de volver a poner todas las etiquetas con una nueva*/
    :root {
        --fs-h1: 2.2rem;
        --fs-h2: 1.8rem;
        --fs-h3: 1.3rem;
        --fs-p: 1rem;
        --fs-span: 0.85rem;
    }

    .contenedor-navegacion {
        position: relative;
    }

    /* Ocultamos el menú principal en móvil  */
    .grupo-derecho-navegacion {
        display: flex;
        /* lo pongo con opacity 0 y visibility hidden para que la animacion funcione al salir */
        opacity: 0;
        visibility: hidden;
        flex-direction: column;
        justify-content: center;
        position: absolute;
        width: 100vw;
        /* cocupa todo el ancho de la pantalla*/
        top: -25%;
        left: 50%;
        /* lo ponemos que empieze al 50% de la izquierda del contenedor padre*/
        height: 0;
        z-index: 100;
        background-color: var(--clr-white);
        padding: 20px;
        border-radius: var(--radius-lg);
        box-shadow: var(--shadow-md);
        transition: all 0.5s ease;
        transform: translateX(-50%) translateY(-50px);
        /* y lo centramos */
    }

    .menu-navegacion li a {
        font-size: var(--fs-h2);
        font-weight: bold;
    }

    .acciones-navegacion a {
        font-size: var(--fs-h4);
    }


    .menu-navegacion a::after {
        display: none;
    }

    .logo-navegacion {
        z-index: 1001;
    }

    /* cuando este abierto el pongo el opacity y el visibility bien pa que haga la animacion */
    .grupo-derecho-navegacion.menu-abierto {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
        height: 80vh;
        transform: translateX(-50%) translateY(0);
    }

    .menu-navegacion,
    .acciones-navegacion {
        display: flex;
        flex-direction: column;
        margin-bottom: var(--space-3);
        align-items: center;
        text-align: center;
    }

    /* menu movil */
    .menu-movil {
        z-index: 1000;
        display: flex;
        flex-direction: column;
    }

    .linea-menu {
        display: block;
        z-index: 1000;
        background-color: var(--clr-primary);
        width: 30px;
        height: 3px;
        margin-bottom: 5px;
        transition: all 0.3s ease-in-out;
    }

    /* la x cuando se abra el menu*/
    .menu-movil.menu-cerrar .linea-menu1 {
        transform: translateY(8.5px) rotate(45deg);
    }

    .menu-movil.menu-cerrar .linea-menu2 {
        opacity: 0;
    }

    .menu-movil.menu-cerrar .linea-menu3 {
        transform: translateY(-8.5px) rotate(-45deg);
    }


    /* El hero pasa a ser una sola columna centrada */
    .contenido-hero {
        text-align: center;
        padding-top: var(--space-6);
    }

    /* img del hero del movil */
    .img-hero {
        display: none;
    }

    .img-hero-movil {
        display: block;
    }

    /* Ajuste de velocidad del carrusel en móvil */
    .pista-carrusel {
        animation-duration: 15s;
    }

    .item-caracteristica {
        padding: 0 var(--space-2);
    }

    .tarjeta-problema {
        padding: var(--space-3);
        align-items: center;
        text-align: center;
    }

    .div-icono-tarjeta {
        margin-bottom: var(--space-2);
    }

    /* responsive de la sección solución */
    .contenedor-solucion {
        grid-template-columns: 1fr;
    }

    .parte-izquierda-solucion {
        position: relative;
        top: 0;
    }

    /* responsive de la seccion "beneficios" */

    .contenedor-beneficios {
        grid-template-columns: 1fr;
    }

    .encabezado-beneficio {
        position: relative;
        text-align: center;
        top: 0;
    }

    .encabezado-beneficio .etiqueta-seccion {
        margin: 0 auto;
    }


    .parte-izquierda-beneficios {
        order: 1;
    }

    .parte-derecha-beneficios {
        order: 2;
    }

    /* rESPONSIVE DE LA SECCION DE EL PROCESO*/
    .fila-proceso {
        grid-template-columns: 1fr;
    }

    .contenido-proceso {
        position: relative;
        top: 0;
        text-align: center;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }

    .fila-invertida .contenido-proceso {
        order: 1;
    }

    .fila-invertida .imagen-proceso {
        order: 2;
    }

    .fila-proceso h3,
    .fila-proceso p,
    .fila-invertida .numero-paso {
        margin: 0 auto;
        text-align: center;
    }

    /* Responsive de la seccion de los servicios*/
    .container-servicios {
        padding-top: var(--space-4);
    }

    .imagen-panel-servicio {
        position: relative;
        top: 0;
        width: 100%;
        height: auto;
    }

    .imagen-panel-servicio img {
        width: 100%;
        height: auto;
    }

    /* Responsive de la seccion de planes */
    .grid-precios {
        grid-template-columns: 1fr;
    }

    .destacado {
        transform: scale(1.03);
    }

    .destacado:hover {
        transform: scale(1.05);
    }

    .tarjeta-precio:last-of-type {
        grid-column: 1 / 1;
        width: 100%;
    }

    /* responsive del faq*/
    .grid-faq {
        width: 100%;
        gap: 10px;
    }

    .pregunta-faq {
        width: 85%;
    }

    /*responsive de la seccion de contacto*/

    .grid-contacto {
        grid-template-columns: 1fr;
    }

    .parte-izquierda-contacto {
        order: 1;
    }

    .parte-derecha-contacto {
        order: 2;
    }

    .col-mapa-contacto {
        width: 85%;
        margin: 0 auto;
    }

    /* Responsive del CTA */
    .seccion-cta-final {
        width: 100%;
    }

    .contenido-cta {
        width: 100%;
    }

    .titulo-cta {
        font-size: var(--fs-h1);
        width: 95%;
    }

    .texto-cta {
        font-size: var(--fs-p);
        width: 85%;
    }

    /* responsive del footer */
    .grid-footer {
        grid-template-columns: 1fr;
    }

    .footer-abajo {
        text-align: center;
    }
}